// Colors
//---------------------------------------------------------------------------------------------------------------------
$uikit-header-color: #b11118 !default;

// Box size setting
//---------------------------------------------------------------------------------------------------------------------
$uikit-header-height: 40px !default;
$uikit-header-padding:  0 10px !default;


%uikit-header {
  position: relative;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  height: $uikit-header-height;
  padding: $uikit-header-padding;
  z-index: 9999;
  background-color: $uikit-header-color;
}
