
// Colors for sidebar
//----------------------------------------------------------------------------------------------------------------------
$red: #b11118;

// Box-sizing for sidebar
//----------------------------------------------------------------------------------------------------------------------

$uikit-sidebar-height: 100vh !default;
$ukit-sidebar-width: 85px !default;


%uikit-sidebar {
  width: $ukit-sidebar-width;
  background: $red;
  height: $uikit-sidebar-height;
}
