
// Colors for sidebar
//----------------------------------------------------------------------------------------------------------------------
$sidebar-color: #353535 !default;
$sidebar-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);

// Box-sizing for sidebar
//----------------------------------------------------------------------------------------------------------------------

$uikit-sidebar-height: calc(100vh - 40px) !default;
$ukit-sidebar-width: 203px !default;

%uikit-sidebar {
  width: $ukit-sidebar-width;
  background: $sidebar-color;
  box-shadow: $sidebar-box-shadow;
  height: $uikit-sidebar-height;
}
