<table class="uikit-grid">
  <thead>
    <th *ngFor="let Header of settings.headers">
      {{Header.name}}
      <uikit-button UIButtonType="secondary" *ngIf="Header.sortable">sort</uikit-button>
    </th>
  </thead>
  <tbody>
    <tr *ngFor="let GridDataRow of GridDataRows">
      <td *ngFor="let Column of settings.headers">
        <span *ngIf="Column.type == 'text'">{{GridDataRow[Column.key]}}</span>
        <a *ngIf="Column.type == 'link'" href="{{GridDataRow[Column.key]}}">{{GridDataRow[Column.key]}}</a>
        <uikit-button *ngIf="Column.type == 'action'" UIButtonType="primary">{{GridDataRow[Column.key]}}</uikit-button>
      </td>
    </tr>
  </tbody>
</table>
