<table class="uikit-grid">
  <thead>
    <th *ngFor="let Header of settings.headers">
      <i *ngIf="Header.sortable" class="material-icons">arrow_downward</i>
      {{Header.name}}
    </th>
  </thead>
  <tbody>
    <ng-template [ngIf]="GridDataRows">
      <tr *ngFor="let GridDataRow of GridDataRows">
        <td *ngFor="let column of settings.headers">
          <span *ngIf="column.type == 'text'">{{GridDataRow[column.key]}}</span>
          <a *ngIf="column.type == 'link'" href="{{GridDataRow[column.key]}}">{{GridDataRow[column.key]}}</a>
          <uikit-button *ngIf="column.type == 'action'" (click)="GetRow(GridDataRow, GridDataRow[column.key].name)" UIButtonType="icon" icon="{{GridDataRow[column.key].icon}}"></uikit-button>
        </td>
      </tr>
    </ng-template>
    <ng-template [ngIf]="GridDataColumns">
      <tr *ngFor="let GridDataColumn of GridDataColumns.id; let i = index;">
        <td *ngFor="let column of settings.headers">
          <span *ngIf="column.type == 'text'">{{GridDataColumns[column.key][i]}}</span>
          <a *ngIf="column.type == 'link'" href="{{GridDataColumns[column.key][i]}}">{{GridDataColumns[column.key][i]}}</a>
          <uikit-button *ngIf="column.type == 'action'" UIButtonType="icon" icon="{{GridDataColumns[column.key][i]}}"></uikit-button>
        </td>
      </tr>
    </ng-template>
  </tbody>
</table>
