<table class="uikit-grid">
  <thead>
    <th *ngFor="let Header of settings.headers">
      <i *ngIf="Header.sortable" class="material-icons">arrow_downward</i>
      {{Header.name}}
    </th>
  </thead>
  <tbody>
    <tr *ngFor="let GridDataRow of GridDataRows">
      <td *ngFor="let column of settings.headers">
        <span *ngIf="column.type == 'text'">{{GridDataRow[column.key]}}</span>
        <a *ngIf="column.type == 'link'" href="{{GridDataRow[column.key]}}">{{GridDataRow[column.key]}}</a>
        <uikit-button *ngIf="column.type == 'action'" UIButtonType="icon" icon="{{GridDataRow[column.key].icon}}"></uikit-button>
      </td>
    </tr>
  </tbody>
</table>
