@import "input.export";

:host {
  display: block;
}

.uikit-input {
  @extend %uikit-input;
}

label {
  @extend %uikit-label;
}

.input-error-msg {
  display: block;
  color: $uikit-input-error-color;
  font-size: 12px;
  line-height: 1.4;
}
