@import "../settings/uikit.settings";
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

// Basic colors for button
//---------------------------------------------------------------------------------------------------------------------
$red: #B11118;
$red-darker: #8A070C;
$grey: #F4F4F4;
$grey-dark: #7D7D7D;
$grey-darker: #D0D0D0;
$black: #000;

// Size
//---------------------------------------------------------------------------------------------------------------------
$uikit-button-width: 80px !default;
$uikit-button-font-size: 10px !default;
$uikit-button-padding: 4px 0 !default;
$uikit-button-icon-size: 15px !default;
$uikit-button-border-radius: 3px !default;


// uikit button main pseudo class
//---------------------------------------------------------------------------------------------------------------------
%uikit-button {
  width: $uikit-button-width;
  padding: $uikit-button-padding;
  font-family: $font-root-family;
  text-transform: uppercase;
  border-radius: $uikit-button-border-radius;
  border: 1px solid;
  font-size: $uikit-button-font-size;
  line-height: 1.4;
  font-weight: $font-bold;

  &[disabled] {
    opacity: .5;
  }
}

%uikit-button-icon {
  padding: 0;
  border: 0;
  background: transparent;
  cursor: pointer;
  min-width: inherit;
  text-align: left;
  line-height: 1;
  vertical-align: text-top;

  .material-icons {
    display: block;
    color: $grey-dark;
    font-size: $uikit-button-icon-size;
  }

  &:hover {
    .material-icons {
      color: $black;
    }
  }
}

%uikit-button-primary {
  background: $red;
  border-color: $red-darker;
  color: $white;
  font-weight: $font-bold;

  &:hover {
    background: $red-darker;
    cursor: pointer;
  }

  &.cancel {
    background: $grey;
    border-color: $grey-darker;
    color: $grey-dark;

    &:hover {
      background: $grey-darker;
      cursor: pointer;
    }
  }
}

%uikit-button-secondary {
  background: $white;
  border-color: $red;
  color: $red;
  font-weight: $font-regular;

  &:hover {
    background: $red-darker;
    color: $white;
    cursor: pointer;
  }

  .material-icons {
    display: block;
  }

  &.cancel {
    background: $white;
    border-color: $grey-darker;
    color: $grey-dark;

    &:hover {
      background: $grey-darker;
      cursor: pointer;
    }
  }
}
