main {
  position: relative;
  display: block;
  height: calc(100vh - 40px);
}

uikit-header {
  uikit-menu {
    margin-left: 40px;
  }

  uikit-button {
    display: flex;
  }
}

uikit-content {
  display: none;
}

