main {
  display: flex;
  position: relative;
  width: 100%;
  height: calc(100vh - 40px);
}

app-root {
  height: 100%;
  position: relative;
  display: flex;
}

.content {
  padding: 0 20px;
  width: calc(100vh - 85px);
  overflow-y: scroll;
}

