main {
  display: flex;
  position: relative;
  width: 100%;
  height: calc(100vh - 40px);
}

app-root {
  height: calc(100vh - 40px);
  position: relative;
  display: flex;
}

.content {
  padding: 0 20px;
  height: calc(100vh - 40px);
  width: calc(100% - 85px);
  overflow-y: scroll;
}

uikit-sidebar {
  uikit-button {
    position: absolute;
    bottom: 5px;
    left: 2px;
  }
}
