
// Colors for content block
//----------------------------------------------------------------------------------------------------------------------
$sidebar-color: #353535 !default;
$sidebar-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);

// Box-sizing for content block
//----------------------------------------------------------------------------------------------------------------------

$uikit-content-padding: 18px;

%uikit-content {
  padding: $uikit-content-padding;
  display: block;
  flex: 100%;
  overflow-y: scroll;
}
