@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

.uikit-menu {
  ul {
    margin: 0;
    padding: 0;
  }
}

.uikit-menu-item {
  position: relative;
  color: #ffffff;
  list-style-type: none;
  text-align: center;
  padding: 20px 0;
  cursor: pointer;
  font-size: 12px;

  a {
    color: #ffffff;
    display: block;
    text-decoration: none;

    span {
      opacity: 0.6;
    }

    &.active::after {
      position: absolute;
      content: '';
      width: 0;
      height: 0;
      right: -5px;
      top: 50%;
      transform: translateY(-50%);
      border-top: 7px solid transparent;
      border-bottom: 7px solid transparent;
      border-right: 7px solid #ffffff;
    }
  }

  .material-icons {
    display: block;
    opacity: 0.6;
    margin: 0 auto 12px;
    font-size: 48px;
  }
}

.uikit-menu-sub-item {
  padding: 5px 0;
}

.sub-menu {
  display: none;
}
