@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

.uikit-menu {
  ul {
    margin: 0;
    padding: 0;
  }
}

.uikit-menu-item {
  position: relative;
  color: #ffffff;
  list-style-type: none;
  text-align: center;
  padding: 20px 0;
  cursor: pointer;
  font-size: 12px;
  opacity: 0.6;

  a {
    color: #ffffff;
    text-decoration: none;
  }

  .material-icons {
    display: block;
    margin: 0 auto 12px;
    font-size: 48px;
  }
}

.uikit-menu-sub-item {
  padding: 5px 0;
}
