@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

// Colors for menu
//----------------------------------------------------------------------------------------------------------------------

$white: #fff;
$red: #b11118;
$grey: #7c7c7c;

// Box-sizing for menu
//----------------------------------------------------------------------------------------------------------------------

$uikit-menu-item-padding: 12px 25px;
$uikit-menu-item-margin: 0 20px;
$uikit-menu-item-fontsize: 11px;

%uikit-menu {
  .main-menu {
    margin: 0;
    padding: 0;
  }
}

%uikit-menu-item {
  position: relative;
  display: inline-block;
  color: $white;
  list-style-type: none;
  text-align: center;
  cursor: pointer;
  font-size: $uikit-menu-item-fontsize;

  &:hover {
    .sub-menu {
      display: block;
    }
  }

  a {
    color: $white;
    display: block;
    opacity: .7;
    line-height: 1.36364;
    padding: $uikit-menu-item-padding;
    text-decoration: none;

    &:hover {
      opacity: 1;
    }

    &.active {
      opacity: 1;
      font-weight: 700;
    }
  }
}

%sub-menu {
  display: none;
  position: absolute;
  z-index: 100;
  padding: 5px 0;
  background: $white;
  box-shadow: 0 1px 4px 1px rgba(150, 150, 150, 0.3);
  margin: 0;
  width: 140px;
  left: 0;
  top: 35px;

  li {
    list-style-type: none;
  }

  a {
    color: $red;
    font-size: 10px;
    text-align: left;
    opacity: 1;

    &:hover {
      color: $white;
      background: $red;
    }
  }
}
