<div class="uikit-menu">
  <ul>
    <li class="uikit-menu-item" *ngFor="let menuItem of menuItems;">
      <i *ngIf="menuItem.icon" class="material-icons">{{menuItem.icon}}</i>
      <img *ngIf="menuItem.iconUrl" src="{{menuItem.iconUrl}}">
      <a href="{{menuItem.id}}">{{menuItem.name}}</a>
      <ul *ngIf="menuItem.subItems">
        <li class="uikit-menu-sub-item" *ngFor="let subItem of menuItem.subItems;">
          <a href="{{subItem.id}}">{{subItem.name}}</a>
        </li>
      </ul>
    </li>
  </ul>
</div>
